.contents{
    width: 80%;
    text-align: center;
    margin: 40px auto;
    background-color: #ffe3e3de;
    padding: 40px;
}
.contents img{
    width: 300px;
    height: 210px;
    border-radius: 10px;
}
.contents h2{
    /* font-size: 2em; */
    color: #333;
    font-weight: 400;
    background-color: #BEFFF7;
    padding: 10px 40px;
    border-radius: 10px;
}